
body {
    background-color: #F8F5F2; /* warm creamy white */
    color: #2A2A2A; /* soft black */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav ul {
     display: flex;
    list-style-type: none;
    padding: 0;
    background-color: #986c4a; /* dark brown */
    margin: 0;
}


nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.flex-container {
    display: flex;
    background-color: #8A9B78;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}


/* Clock styles */
#center-clock {
    text-align: center;
    background: #8A9B78;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    position: fixed; 
    bottom: 20px;  
    left: 50%; 
    transform: translateX(-50%); 
}

.digital-clock {
    font-weight: bold;
    font-size: 20px;
}
