.flex-container {
    display: flex;
    gap: 10px;
    background: #eee;
    padding: 20px;
}

.flex-container div {
    background: blue;
    color: white;
    padding: 20px;
    flex: 1;
    text-align: center;
}

