
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: #333;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}






